<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'back_office/index.html.twig' %}
>>>>>>> 5e29f47ee188e1829596c77a72768098e0e83eae

{% block title %}New Documents{% endblock %}

{% block body %}
    <h1>Create new Documents</h1>

    {{ include('documents/_form.html.twig') }}

    <a href="{{ path('documents_index') }}">back to list</a>
{% endblock %}
