{% extends 'back_office/index.html.twig' %}

{% block title %}Edit IsInvolvedIn{% endblock %}

{% block body %}
    <h1>Edit IsInvolvedIn</h1>

    {{ include('is_involved_in/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('is_involved_in_index') }}">back to list</a>

    {{ include('is_involved_in/_delete_form.html.twig') }}
{% endblock %}
