{% extends 'base.html.twig' %}

{% block title %}New MeetUp{% endblock %}

{% block body %}
    <h1>Create new MeetUp</h1>

    {{ include('meet_up/_form.html.twig') }}

    <a href="{{ path('meet_up_index') }}">back to list</a>
{% endblock %}
