<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'back_office/index.html.twig' %}
>>>>>>> 5e29f47ee188e1829596c77a72768098e0e83eae

{% block title %}Edit Creator{% endblock %}

{% block body %}
    <h1>Edit Creator</h1>

    {{ include('creator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('creator_index') }}">back to list</a>

    {{ include('creator/_delete_form.html.twig') }}
{% endblock %}
