{% extends 'base.html.twig' %}

{% block title %}New Cd{% endblock %}

{% block body %}
    <h1>Create new Cd</h1>

    {{ include('cd/_form.html.twig') }}

    <a href="{{ path('cd_index') }}">back to list</a>
{% endblock %}
